.idea
node_modules
package-lock.json

/data
/logs
/conf
/plugins
/queue

/htdocs/index.html
/htdocs/index.html.gz

/htdocs/css
/htdocs/fonts
!/htdocs/css/style.css

/htdocs/js
!/htdocs/js/pages
!/htdocs/js/app.js
!/htdocs/js/home-worker.js
